body {
  padding: 10px;
}

nav {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 10px 0;
}

a {
  margin-right: 20px;
  margin-bottom: 10px;
  white-space: nowrap;
}
