body {
  padding: 10px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 0;
}

a {
  margin-right: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  background-color: #f8f8f8;
  border-radius: 6px;
  padding: 2px 4px;
}

@media screen and (max-device-width: 568px) {
  nav {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
